<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" href="static/css/bootstrap/bootstrap.css">
</head>
<body>
<h1>Login page</h1>
<p th:if="${loginError}" class="error text-danger">Wrong user or password</p>
<form th:action="@{/login.html}" method="post">
    <label for="userid">UserID</label>:
    <input type="text" id="userid" name="userid" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap/bootstrap.js"></script>
</body>
</html>