<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user_join</title>
    <link th:replace="common/common :: css">
    <link rel="stylesheet" href="static/css/myCss/user_join.css">
</head>
<body>

    <!-- <header th:replace="common/navtop :: navtop" ></header> -->
    <div class="container">
        <h1>회원가입</h1>
        <form action="user_join_do" method="post" name="join">
            <table summary="이름, 아이디, 비밀번호, 비밀번호 확인, 이메일, 이메일수신여부, 주소, 휴대폰, 유선전화, 생년월일 순으로 회원가입 정보를 등록할수 있습니다." class="table">
                <caption>회원가입 입력</caption>
                <colgroup>
                <col width="22%" class="tw30" />
                <col width="*" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><span>아이디</span></th>
                        <td>
                            <ul class="pta">
                                <li class="r10">
                                    <input type="text" class="form-control col-3" id="id" name="user_id" value="tester00">
                                </li>
                                <li>
                                    <input type="hidden" class="btn btn-info" name="idDuplicateCheck" id="idDuplicateCheck" value="none">
                                    <a onclick="idDuplicateCheck()" class="nbtnMini" style="cursor: pointer;">중복확인</a>
                                </li>
                                <li class="pt5">
                                    <span class="mvalign idDup1">첫 글자는 영문으로 4~16자 까지 가능, 영문, 숫자와 특수기호(_)만 사용 가능</span>
                                    <span class="mvalign idDup2" style="color: red;">중복확인 성공</span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>비밀번호</span></th>
                        <td>
                            <ul class="pta">
                                <li class="r10">
                                    <input type="password" class="form-control col-3" name="password" value="123">
                                </li>
                                <li><span class="mvalign">※ 영문 대소문자 한글자씩 포함 / 숫자, 특수문자 혼용으로 8~16자 까지 가능.</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>비밀번호 확인</span></th>
                        <td>
                            <ul class="pta">
                                <li class="r10">
                                    <input type="password" class="form-control col-3" name="pw2" value="123"/>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>이름</span></th>
                        <td>
                            <ul class="pta">
                                <li class="r10">
                                    <input type="text" name="user_name" class="form-control col-3" value="이름">
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>이메일</span></th>
                        <td>
                            <ul class="pta">
                                <li class="emailWrite">
                                    <input type="text" class="form-control col-3" name="email1" value="test">
                                    <span class="valign">&nbsp;@&nbsp;</span>
                                    <input type="text" class="form-control col-3" id="email2" name="email2" value="test.com"/>
                                    <select id="emailList" class="form-control col-3" onclick="sel_val()">
                                        <option value="" selected="selected">직접입력</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="gmail.com">gmail.com</option>    
                                    </select>
                                    <span class="noticeWord">*(필수)
                                        <button type="button" id="modalOpen" class="btn btn-outline-primary btn-sm">이메일 인증</button>
                                    </span>
                                </li>
                                <!-- <li>
                                    <input type="text" class="form-control col-3" name="email1" value="test">
                                </li>
                                <li><span class="valign">&nbsp;@&nbsp;</span></li>
                                <li class="r10">
                                    <input type="text" class="form-control col-3" id="email2" name="email2" value="test.com"/>
                                    <span class="noticeWord">*(필수)
                                        <button type="button" id="modalOpen">이메일 인증</button>
                                    </span>
                                </li>
                                <li>
                                    <select id="emailList" class="form-control col-3" onclick="sel_val()">
                                        <option value="" selected="selected">직접입력</option>
                                        <option value="naver.com">naver.com</option>
                                        <option value="daum.net">daum.net</option>
                                        <option value="hanmail.net">hanmail.net</option>
                                        <option value="gmail.com">gmail.com</option>    
                                    </select>
                                </li> -->
                            </ul>
                        </td>
                        <!-- 모달창 -->
                        <div class="modal hidden">
                            <div class="md_overlay">
                                <div class="md_content">
                                    <h3>Test Modal</h3>
                                    <p class="modal_text">이 창은 모달창입니다.</p>
                                    <button type="button">확인</button>
                                </div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <th scope="row"><span>이메일 수신여부</span></th>
                        <td>
                            <p>~~에 대한 정보를 이메일로 받아보시겠습니까?</p>
                            <ul class="question">
                                <li>
                                    <input type="radio" name="email_agree" id="receive_yes" class="form-check-input" checked="checked" value="email_yes"/>
                                    <label for="receive_yes">예</label>
                                </li>
                                <li>
                                    <input type="radio" name="email_agree" id="receive_no" class="form-check-input" value="email_no"/>
                                    <label for="receive_no">아니오</label>
                                </li>
                            </ul>
                            <p class="gray">* 거래관련 정보는 고객님의 거래안전을 위하여 이메일 수신거부와 관계없이 발송됩니다.</p>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>주소</span></th>
                        <td>
                            <ul class="pta">
                                <li>
                                    <input type="text" class="form-control col-3" id="sample4_postcode" name="post_number" value="123-456">&nbsp;
                                </li>
                                <li><input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"></li>
                                <li class="pt5">
                                    <input type="text" class="form-control col-3 addressType" id="sample4_roadAddress" name="address1" value="주소1"/>
                                    <input type="text" class="form-control col-3 addressType addressTypeDetail" id="sample4_detailAddress" name="address2" value="주소2"/>
                                </li>
                                <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
                                    <img src="//i1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" 
                                    onclick="closeDaumPostcode()" alt="닫기 버튼">
                                </div>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>휴대폰</span></th>
                        <td>
                            <ul class="pta">
                                <li>
                                    <select name="phone1" class="form-control col-3">
                                        <option value="010" selected="selected">010</option>
                                        <option value="011">011</option>
                                        <option value="016">016</option>
                                        <option value="017">017</option>
                                        <option value="018">018</option>    
                                        <option value="019">019</option>    
                                    </select>
                                </li>
                                <li>&nbsp;<span class="valign">-</span>&nbsp;</li>
                                <li>
                                    <input type="text" class="form-control col-3" maxlength="4" name="phone2" value="4321"/>
                                <span class="valign">-</span>&nbsp;</li>
                                <li class="r10">
                                    <input type="text" class="form-control col-3" maxlength="4" name="phone3" value="1234"/>
                                </li>
                                
                                <li class="cb pt5"><span class="mvalign">※ SMS 서비스를 받아보시겠습니까?</span></li>
                                <li class="pt5">
                                    <ul class="baseQues">
                                        <li>
                                            <input type="radio" name="sms_agree" id="sms_yes" class="form-check-input" checked="checked" value="sms_yes"/>
                                            <label for="sms_yes">예</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="sms_agree" id="sms_no" class="form-check-input" value="sms_no"/>
                                            <label for="sms_no">아니오</label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><span>생년월일</span></th>
                        <td>
                            <ul class="pta">
                                <li>
                                    <select name="birth1" class="form-control col-3">
                                        <option value='none' selected="selected">선택하세요</option>
                                        <script type="text/javascript">
                                        //<![CDATA[
                                            for(var i=1940; i<=2020; i++){
                                                document.write("<option value='"+ i +"'>" + i + "년"+ "</option>");	
                                            };
                                        //]]>
                                        </script>
                                    </select>
                                </li>
                                <li>&nbsp;<span class="valign">년</span>&nbsp;&nbsp;&nbsp;</li>
                                <li>
                                    <select name="birth2" class="form-control col-3">
                                        <option value='none' selected="selected">선택하세요</option>
                                        <script type="text/javascript">
                                        //<![CDATA[
                                            for(var i=1; i<=12; i++){
                                                if(i<10){
                                                    document.write("<option value='"+ i +"'>0" + i + "월"+"</option>");
                                                }else{
                                                    document.write("<option value='"+ i +"'>" + i + "월"+ "</option>");
                                                };
                                            };
                                        //]]>
                                        </script>
                                    </select>
                                </li>
                                <li>&nbsp;<span class="valign">월</span>&nbsp;&nbsp;&nbsp;</li>
                                <li>
                                    <select name="birth3" class="form-control col-3">
                                        <option value='none' selected="selected">선택하세요</option>
                                        <script type="text/javascript">
                                        //<![CDATA[
                                            for(var i=1; i<=31; i++){
                                                if(i<10){
                                                    document.write("<option value='"+ i +"'>0" + i + "일"+"</option>");
                                                }else{
                                                    document.write("<option value='"+ i +"'>" + i + "일"+ "</option>");
                                                };
                                            };
                                        //]]>
                                        </script>
                                    </select>
                                </li>
                                <li class="r20">&nbsp;<span class="valign">일</span></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
                </table>
                <input type="submit" class="justify-content-end btn btn-outline-success" value="가입">
            </form>
    </div>
    <a href="/" class="btn btn-primary">메인으로</a>

    <script th:replace="common/common :: js"></script>
    <script type="text/javascript" src="static/js/myJs/user_join.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>